@keyframes playerPhotoAnimation {
    0% {
        transform: scaleX(-1) scale(1) translateY(0) translateX(0);
    }
    100% {
        transform: scaleX(-1) scale(1.15) translateY(-60px) translateX(-5px);
    }
}
.container{
    width: 75vh;
    height: 17vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.container:hover{
    .leftPlayerPhoto{
        transform: scaleX(-1) scale(1.15) translateY(-60px) translateX(-5px);
    }
    .leftPlayerPhoto:hover{
        transform: scaleX(-1) scale(1.65) translateY(-50px) translateX(-5px);
    }
    .rightPlayerPhoto{
        transform: scale(1.15) translateY(-60px) translateX(5px);
    }
    .rightPlayerPhoto:hover{
        transform: scale(1.65) translateY(-50px) translateX(5px);
    }
    .playerNumber{
        opacity: 0.6;
    }
    .playerName{
        transform: translateX(30px) translateY(5px) scale(1.1);
        opacity: 1;
    }
    .playerNameRight{
        transform: translateX(-30px) translateY(5px) scale(1.1);
        opacity: 1;
    }
}
.leftPlayer{
    position: relative;
    width: 18%;
    height: 100%;
}
.rightPlayer{
    width: 18%;
    height: 100%;
    /* background-color: red; */
}
.playerInfoLeft{
    display: flex;
    height: 30%;
    width: 130%;
    /* background-color: black; */
}
.playerInfoRight{
    display: flex;
    flex-direction: row-reverse;  
    height: 30%;
    width: 100%;
    /* background-color: blue; */
}
.playerNumber{
    width: 65%;
    background-size: cover;
    background-position: center;
    filter: brightness(0%);
    opacity: 0%;
    transition: opacity 0.4s ease-in-out;
}
.playerName{
    object-fit: cover;
    opacity:0%;
    transform: scale(1.2) translateX(-50px) translateY(10px);
    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1), 0.4s ease-in-out opacity;
    /* transition: transform 0.6s ease-in-out, opacity 0.4s ease-in-out; */
}
.playerNameRight{
    object-fit: cover;
    opacity:0%;
    transform: scale(1.2) translateX(50px) translateY(10px);
    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1), 0.4s ease-in-out opacity;
    /* transition: transform 0.6s ease-in-out, opacity 0.4s ease-in-out; */
}
.leftPlayerPhoto{
    cursor: pointer;
    width: 100%;
    transform: scaleX(-1) scale(1) translateY(0) translateX(0); /* start slightly smaller */
    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: top;
}
.rightPlayerPhoto{
    cursor: pointer;
    transform: scale(1) translateY(0) translateX(0); /* start slightly smaller */
    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 100%;
    transform-origin: top; 

}
/* user-select: none;       
/* -webkit-user-select: none; Safari/Chrome */
/* -moz-user-select: none;    Firefox */
/* user-drag: none;          For Safari */
/* -webkit-user-drag: none;  Chrome/Safari */
/* -moz-user-drag: none;     Firefox */
/* -o-user-drag: none; */