.container{
    width: 70vh;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.container:hover{
    .leftPlayerPhoto{
        transform: scaleX(-1) scale(1.15) translateY(-60px) translateX(-5px);
    }
    .rightPlayerPhoto{
        transform: scale(1.1) translateY(-60px) translateX(5px);
    }
    .playerNumber{
        opacity: 0.6;
    }
}
.leftPlayer{
    position: relative;
    overflow: hidden;
    width: 18%;
    height: 100%;
}
.playerInfo{
    display: flex;
    height: 30%;
    /* background-color: black; */
}
.rightPlayer{
    width: 18%;
    height: 100%;
    /* background-color: blue; */
}
.playerInforight{
    display: flex;
    justify-content: end;
    height: 30%;
}
.playerNumber{
    width: 60%;
    background-size: cover;
    background-position: center;
    filter: brightness(0%);
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.leftPlayerPhoto{
    cursor: pointer;
    width: 100%;
    transform: scaleX(-1) scale(1) translateY(0) translateX(0); /* start slightly smaller */
    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: top; 
}

.rightPlayerPhoto{
    cursor: pointer;
    transform: scale(1) translateY(0) translateX(0); /* start slightly smaller */
    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 100%;
    transform-origin: top; 

}
/* user-select: none;         prevents selection */
/* -webkit-user-select: none; Safari/Chrome */
/* -moz-user-select: none;    Firefox */
/* user-drag: none;          For Safari */
/* -webkit-user-drag: none;  Chrome/Safari */
/* -moz-user-drag: none;     Firefox */
/* -o-user-drag: none; */